@font-face {
    font-family: Helvetica; /* имя шрифта для CSS правил */
    src: local("Helvetica"), /* проверяем наличие шрифта в ОС пользователя */
         url(/Helvetica.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */

  }

body {
  margin: 0px;
  font-family: 'Helvetica','Verdana', 'Trebuchet MS';
  font-family: url(/Helvetica.ttf);
  color: #2f2f2f;

}
p,a,ul,span{
	font-size: 13px;
	font-family: 'Helvetica','Verdana', 'Trebuchet MS';
	font-family: url(/Helvetica.ttf);
}
h1, h2, h1 a, h2 a{
	font-size: 14px;
	color: #4f89ac;
	font-weight: 400;
	text-decoration: none;
}
h1{
	font-size: 22px;
	margin-top: 0px;
	line-height: 20px;
	text-transform: uppercase;
}
h3, h3 a{
	font-size: 12px;
	font-weight: 400;
	color: #4f89ac;
	line-height: 12px;
	text-decoration: none;
}

.contentpage, #site_bar_content, footer, header {
  width: 925px;
  margin: 0px auto;
}

#body_content_left {
  float: left;
  width: 600px;
}
#body_content_right {
  float: right;
  width: 400px;
}
#body_content_left .inner {
  padding-right: 10px;
}     
#body_content_right .inner {
  padding-left: 10px;
}     
#body_content.no_body_content_left #body_content_right,
  #body_content.no_body_content_right #body_content_left {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.menu ul {
  margin: 0px;
  padding: 0px;
}
.menu li {
  padding: 0px;
  margin: 0px 9px 0px 0px;
  list-style: none;
  float: left;
}
.menu li.last {
  margin-right: 0px;
}
.menu li.selected > a {
  font-weight: bold;
}
.inquiries form label {
  width: 150px;
  float: left;
}
.inquiries form input {
  width: 200px;
}
.inquiries form input, .inquiries form textarea {

}
.inquiries form textarea {

}
.inquiries form .actions {
  margin-left: 150px;
}
.inquiries form .actions input {
  width: auto;
}
.inquiries .field {
  margin: 12px 0px;
}
.inquiries form {
  padding-top: 12px;
}
.page_not_live {
  border: 1px solid #A00027;
  color: #A00027;
  background: #FFB1B1;
  padding:3px 9px;
  font-weight:bold;
  width:auto;
}