/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/
html, body{
	height: 100%;
	display: block;
	padding: 0!important;
	margin:0!important;

}
body{
	position: relative;
}


.logo{
	display: block;
	height: 53px;
	width: 122px;
	background: url(/images/logo.png) no-repeat;
	margin-top: 7px;
	
}
.logo_2{
	display: block;
	height: 12px;
	width: 84px;
	background: url(/images/logo_2.png) no-repeat;
	position: absolute;
	top: 77px;
	left: 0px;
	
}
/* Type page*/

.about_title{
	background: url(/images/about_title.png);
	display: block;
	height: 21px;
	width: 122px;
	margin-bottom: 10px;
}
.right{
	float: right;
	
}
.content{
	display: block;
	height: auto;
	width: 703px;
	z-index: 2000;
	position: relative;
}
.content a, inner a{
  color: #4f89ac;
}
.content p{
	word-spacing: 1.5px;
	letter-spacing: 0.5px;
}
.contentpage{
	display: block!important;
	height: 806px;
	position: relative;
	padding-top: 45px;
	
}
#page{
	background: url(/images/main_bg.png);
	background-repeat:repeat-x;
	/*background: #fff;
	background: -moz-linear-gradient(
			top,
			#c5c5c5 0%,
			#fff);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#c5c5c5),
		to(#fff));
	*/
	
}
#page_container{
	height: 906px;
	display: block;

}
.type_about_us:hover div, .type_operations:hover div, .type_careers:hover div, .type_news:hover div, .type_team:hover div{
	background: url(/images/active_link.png);
	
}
.type_about_us{
  height: 89px;
  width: 202px;
  display: block;
  position: absolute;
  top: 352px;
  left: 171px;
  padding-bottom: 47px;
}
.type_about_us div{
  height: 89px;
  width: 202px;
  display: block;
}

.type_operations{
	height: 97px;
	width: 265px;
	display: block;
	position: absolute;
    top: 338px;
    left: 371px;
    padding-top: 52px;	
}
.type_operations div{
	height: 97px;
	width: 265px;
	display: block;	
}
.type_team{
	height: 56px;
	width: 154px;
	display: block;
	position: absolute;
  top: 487px;
  left: 371px;
  padding-top: 49px;
	
}
.type_team div{
	height: 56px;
	width: 154px;
	display: block;
	
}

.type_news{
	height: 41px;
	width: 163px;
	display: block;
	position: absolute;
  top: 488px;
  left: 210px;
  padding-bottom: 50px;
	
}

.type_news div{
	height: 41px;
	width: 163px;
	display: block;	
}

.type_careers{
	height: 158px;
	width: 295px;
	display: block;
	position: absolute;
  top: 488px;
  left: 525px;
  padding-bottom: 53px;
	
}
.type_careers div{
	height: 158px;
	width: 295px;
	display: block;
	
}
.type_menu_container{
	display: block!important;
	height: 808px;
	width: 925px;
	background: url(/images/menu.png) no-repeat;
	position: absolute;
	bottom: 0;
	left: -53px;	
}
.type_menu{
	position: relative;
	height: 808px;
	width: 925px;
	display: block;
	z-index: 1;
	
}
.arrow{
	background: url(/images/arrow.png) no-repeat scroll center top transparent;
	display: block;
	height: 76px;
	width: 38px;
}
.type_contacts{
  position: absolute;	
  top: 298px;
  left: 1128px;
	
}
.type_contacts:hover{
}
.start{
	height: 76px;
	width: 2px;
	display: block;
  background: url(/images/start_home.png) no-repeat scroll center top transparent;
	
}

.type_start{
	height: 76px;
	width: 2px;
	display: block;
	position: absolute;
  top: 298px;
  left: -111px;
  background: url(/images/start_home.png) no-repeat scroll center top transparent;
	
}

/* -------*/
/* ---inquiries----*/
.inquiries{
	text-align: right;
}

/* -------*/
header{
	position: relative;
	margin-top: 22px;
	min-height: 123px;
}
.address_box{
	height: 107px;
	width: 174px;
	display: block;
	position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
  
	
}
.address_box p{
	margin: 12px 0 12px 0;
	font-size: 11px;
	color: #a9a9a9;
}
.upper{
	text-transform: uppercase;
}
.address_box p .upper{
	font-size: 11px;
	color: #666666;
}
.address_box h3, .address_box h3 span{
	font-size: 11px;
	margin: 0;
	text-transform: uppercase;
}
.address_box h3 span{
	color: #191919;
}

footer{
 position: relative;
 height: 0px;
 display: block;
}
footer p{
 position: absolute;
 bottom: 112px;
 left: 0px;
 height: 12px;
 width: 174px;
 display: block;
 font-size: 10px; 
}
.type_text, .type_text a{
	color: #2f2f2f
}


