.contentpage{
	display: block!important;
	height: 893px;
	position: relative;
	
}
#page_container{
	height: 938px;
	display: block;

}
.content {
display: block;
height: auto;
width: 328px;
z-index: 2000;
position: relative;
padding-left: 191px;
padding-right: 406px;
min-height: 100px;
}