.contentpage{
	display: block!important;
	position: relative;
    padding-top: 183px;
}
#page_container{
	display: block;

}
.inquiries p{
	text-transform: uppercase;
	font-size: 11px;
}
.content {
display: block;
height: auto;
width: 328px;
z-index: 2000;
position: relative;
padding-left: 191px;
padding-right: 406px;
min-height: 100px;
}