/*
  Override default refinery homepage styles here.
  These only apply to the homepage of your site.
*/

.contentpage{
	display: block!important;
	height: 685px;
	position: relative;
	padding-top: 0px;
	
}
#page_container{
	display: block;

}
.home_menu_container{
	display: block!important;
	height: 665px;
	width: 990px;
	background: url(/images/home_menu.png) no-repeat;
	position: absolute;
	bottom: 0;
	background-position: bottom;	
}
.home_menu{
	position: relative;
	height: 665px;
	width: 990px;
	display: block;
	
}
.about_us:hover div, .operations:hover div, .careers:hover div, .news:hover div, .team:hover div{
	background: url(/images/active_link.png);
}

.about_us{
	height: 127px;
	width: 290px;
	display: block;
	position: absolute;
	padding-bottom: 68px;
    top: 27px;
    left: 0px;	
}
.about_us div{
	height: 127px;
	width: 290px;
	display: block;		
}

.operations{
	height: 139px;
	width: 378px;
	display: block;
	position: absolute;
	padding-top: 73px;
    top: 9px;
    left: 287px;	
}
.operations div{
	height: 139px;
	width: 378px;
	display: block;	
}


.team{
	height: 80px;
	width: 218px;
	display: block;
	position: absolute;
    top: 222px;
    left: 288px;
    padding-top: 69px;
	
}
.team div{
	height: 80px;
	width: 218px;
	display: block;	
}

.news{
	height: 60px;
	width: 231px;
	display: block;
	position: absolute;
    top: 221px;
    left: 57px;
	padding-bottom: 70px;
}
.news div{
	height: 60px;
	width: 231px;
	display: block;
}

.careers{
	height: 226px;
	width: 419px;
	display: block;
	position: absolute;
    top: 221px;
    left: 506px;
	padding-bottom: 75px;
}
.careers div{
	height: 226px;
	width: 419px;
	display: block;	
}

.contacts{
	height: 14px;
	width: 103px;
	display: block;
	position: absolute;
  top: 221px;
  left: 982px;
  background: url(/images/arrow.png) no-repeat scroll right top transparent;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  line-height: 14px;
  padding: 32px 0 31px 0;
  color: #9E9E9E;
	
}
.contacts:hover{
}
.act{
	background: url(/images/start_home.png) no-repeat;
}
.start{
	height: 76px;
	width: 2px;
	display: block;
	position: absolute;
  top: 221px;
  left: -161px;
  background: url(/images/start_home.png) no-repeat scroll center top transparent;
	
}
.main_text{
	position: absolute;
	bottom: 200px;
	left: 0;
	width: 282px;
	height: auto;
}
footer p{
 position: absolute;
 bottom: 10px;
 left: 0px;
}