<%=link_to "","/", :class=>"logo" %>
<%#= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
<div class="address_box">
   <h3>Storm Ventures</h3>   
   <p>2440 Sand Hill Road; Suite 301
   Menlo Park, CA 94025-6900</p>
   <p>Main Phone: (650) 926-8800
  <br/>
   Main Fax: (650) 926-8888</p>
</div>
 
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rosario">  
<link href="http://fonts.googleapis.com/css?family=RalewayRaleway:100" rel="stylesheet" type="text/css" >