<%=link_to "","/", :class=>"logo" %>
<%=link_to "","/", :class=>"logo_2" %>
<%#= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
<div class="address_box">
   <h3>Storm Ventures</h3>   
   <p>Headquarters Address  - 
   28 Terbatas str, Riga, Latvia, 1011</p>
   <p>Ukraine Subsidiary Address -
  <br/>
   17 Liniyna str, Kyiv, Ukraine</p>
</div>
<link href='http://fonts.googleapis.com/css?family=Marvel' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Convergence' rel='stylesheet' type='text/css'> 
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rosario">
<!--<link href="http://fonts.googleapis.com/css?family=RalewayRaleway:100" rel="stylesheet" type="text/css" >-->
