<%=link_to "","/", :class=>"logo" %>
<%=link_to "","/", :class=>"logo_2" %>
<%#= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
<div class="address_box">
   <h3>Contacts:</h3>   
   <p><span class="upper">Headquarters Address &nbsp&nbsp&nbsp&nbsp&nbsp</span>28 Terbatas str, Riga, Latvia</p>

</div>
<link href='http://fonts.googleapis.com/css?family=Marvel' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Convergence' rel='stylesheet' type='text/css'> 
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rosario">
<!--<link href="http://fonts.googleapis.com/css?family=RalewayRaleway:100" rel="stylesheet" type="text/css" >-->
