<%#= render :partial => "/shared/content_page" %>
<%#= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>


<div class="contentpage"> 
<div class="main_text"> 
 </div>          
<div class="home_menu_container">
  <div class="home_menu">
    <a href="/about" class= "about_us"><div></div></a>
    <a href="/operations" class= "operations"><div></div></a>
    <a href="/team" class= "team"><div></div></a>
    <a href="/newsfeeds" class= "news"><div></div></a>
    <a href="/careers" class= "careers"><div></div></a>
    <%#=link_to "CONTACT", "/contact", :class=> "contacts", :id=>"left"%>
    <%#=link_to "", "", :class=> "start"%> 
    
  </div>
</div>
</div> 
<script src="http://code.jquery.com/jquery-latest.js"></script>
<link href='http://fonts.googleapis.com/css?family=Convergence' rel='stylesheet' type='text/css'>
<script>


$("#left").click(function(){
   $(".home_menu_container").animate({"left": "-=130px"}, "slow");  
   $(".contacts").animate({"left": "+=130px"}, "slow");
   $(".start").animate({"left": "+=130px"}, "slow");
 
});
  

</script>