<div class="contentpage">
<div class="right">
<section class='content'>
  <h1><%=raw @page.title%></h1>
<section id='body_content'>
  <%=raw @page.content_for(:body) %>
</section>
<section id='side_body_content'>
  <%=raw @page.content_for(:side_body) %>
</section>
</section>
 </div>
<div class="type_menu_container">
 <div class="type_menu">
   <a href="/about" class= "<%-if @page.title == "About" %> type_about_us active <%-else %> type_about_us <%-end%>"><div></div></a>
   <a href="/operations" class= "type_operations"><div></div></a>
   <a href="/team" class= "<%-if @page.title == "Team" %> type_team active <%-else %> type_team <%-end%>"><div></div></a>
   <a href="/newsfeeds" class= "type_news"><div></div></a>
   <a href="/careers" class= "<%-if @page.title == "Careers" %> type_careers active <%-else %> type_careers<%-end%>"><div></div></a>
 </div>
</div>
</div>
<!--<link href='http://fonts.googleapis.com/css?family=Convergence' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rosario"> -->  
<!-- <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css" > -->